<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michal.weekplanner">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ViewIII.ViewIII_Notebook_Edit"/>
        <activity
            android:name=".views.ViewIII.ViewIII_Notebook_Add"/>
        <activity
            android:name=".views.ViewIII.ViewIII_Notebook_Details"/>
        <activity
            android:name=".views.ViewII.ViewII_ShoppingList_Add"/>
        <activity
            android:name=".views.ViewII.ViewII_ShoppingList_Edit"/>
        <activity
            android:name=".views.ViewII.ViewII_ShoppingList_Details"/>
        <activity
            android:name=".views.View.View_Events_Edit"/>
        <activity
            android:name=".views.View.View_Events_Add"/>
        <activity
            android:name=".views.View.View_Events_Details"/>
        <activity
            android:name=".views.More.GoogleMapsApi_Sensor.Biometr"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnwcNlIMICIg5E8QRLUHnJwHghd5DHgiI" />

        <activity
            android:name=".views.More.GoogleMapsApi_Sensor.View_GPS"/>
        <activity
            android:name=".views.More.GoogleMapsApi_Sensor.More" />
    </application>

</manifest>